<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <!--将片段引入到该处 替换掉div标签-->
    <div th:replace="~{header :: test}"></div>

    <!--将片段引入到该处 所有内容插入div标签-->
    <div th:insert="~{header :: test}"></div>

    <!--将片段引入到该处 插入div标签-->
    <div th:include="~{header :: test}"></div>

</body>
</html>