<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <table width="300" style="text-align: center">
       <tr>
           <th>编号</th>
           <th>ID</th>
           <th>姓名</th>
           <th>年龄</th>
       </tr>

       <tr th:each="user,iterStart : ${list}">
           <td th:text="${iterStart.index}"></td>
           <td th:text="${user.id}"></td>
           <td th:text="${user.name}"></td>
           <td th:text="${user.age}"></td>
       </tr>



   </table>

<span th:text="|从前有个姑娘叫${username},长得好看|"></span>
<hr>
<input type="text" name="uname" th:value="${username}">

</body>
</html>